name: Backend CI/CD

on:
  push:
    branches: ["master"]

permissions:
  contents: read
  id-token: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS OIDC Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: ci-session

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          ECR="${{ secrets.ECR_REPO }}"
          docker build -t "$ECR:latest" app/backend_api/
          docker tag "$ECR:latest" "$ECR:${{ github.sha }}"

      - name: Push Image
        run: |
          ECR="${{ secrets.ECR_REPO }}"
          docker push "$ECR:latest"
          docker push "$ECR:${{ github.sha }}"
