name: Frontend CI/CD

on:
  push:
    branches: ["main"]
    paths:
      - "app/**"
      - "config.json"
      - ".github/workflows/frontend-ci.yml"

jobs:
  discover-modules:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.read.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - name: Install jq
        run: sudo apt-get install -y jq
      - name: Read frontend modules
        id: read
        run: |
          FRONTEND=$(jq -c '.apps.frontend | keys' config.json)
          echo "matrix=$FRONTEND" >> $GITHUB_OUTPUT

  build-and-deploy:
    needs: discover-modules
    strategy:
      matrix:
        app-id: ${{ fromJson(needs.discover-modules.outputs.matrix) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build and Test
        uses: ./.github/actions/build-and-test
        with:
          app-type: frontend
          app-id: ${{ matrix.app-id }}
          config-path: ./config.json

      - name: Deploy to S3
        uses: ./.github/actions/deploy-to-s3
        with:
          app-type: frontend
          app-id: ${{ matrix.app-id }}
          config-path: ./config.json
          #aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          #aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}