name: Deploy All Frontends

on:
  workflow_run:
    workflows: ["Stack-Agnostic CI"]
    types:
      - completed

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Frontend
        uses: ./.github/actions/deploy-to-s3
        with:
          app-type: frontend
          app-id: ${{ matrix.app-id }}
          config-path: ./config.json
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}